# Pandas
### Pandas is defined as an open-source library that provides high-performance data manipulation in Python. 
#### The name of Pandas is derived from the word Panel Data, which means an Econometrics from Multidimensional data. 
#### It is used for data analysis in Python and developed by Wes McKinney in 2008.

### we prefer Pandas because working with Pandas is fast, simple and more expressive than other tools.

### Pandas is built on top of the Numpy package, means Numpy is required for operating the Pandas.

### Benefits of Pandas

#### Data Representation: It represents the data in a form that is suited for data analysis through its DataFrame and Series.
#### Clear code: The clear API of the Pandas allows you to focus on the core part of the code. So, it provides clear and concise code for the user.

## Python Pandas Data Structure
#series   - 1d
#Dataframe -2d
#panel - 3d
### Series - It is defined as a one-dimensional array that is capable of storing various data types.
#### The row labels of series are called the index. We can easily convert the list, tuple, and dictionary into series using "series' method. 
### A Series cannot contain multiple columns. It has one parameter:

In [1]:
import pandas as pd  
import numpy as np  
info = np.array(['P','a','n','d','a','s'])   #ndarray
a = pd.Series(info)  
 
print(info)

print(a)

['P' 'a' 'n' 'd' 'a' 's']
0    P
1    a
2    n
3    d
4    a
5    s
dtype: object

In [19]:
d = {'a' : 0, 'b' : 1, 'c' : 2} #dict
print(d)
a=pd.Series(d)
print(a)
type(a)

{'a': 0, 'b': 1, 'c': 2}
a    0
b    1
c    2
dtype: int64

pandas.core.series.Series

In [7]:
a.index

Index(['a', 'b', 'c'], dtype='object')

In [15]:
print(a.values)

[0. 1. 2.]

In [8]:
pd.Series(5, index=['a', 'b', 'c', 'd', 'e'])  #scalar

a    5
b    5
c    5
d    5
e    5
dtype: int64

In [21]:
s = pd.Series(np.random.randn(5), index=['python', 'b', 'c', 'd', 'e'])
s

python    2.872840
b        -0.983118
c        -2.551905
d         0.818367
e         1.236409
dtype: float64

In [3]:
print("type of data",type(s))

type of data <class 'pandas.core.series.Series'>

In [4]:
print(s.shape) 
print(s.ndim)   
print(s.size)   
print(s.nbytes)  #5*8

(5,)
1
5
40

In [22]:
# Indexing and slicing
print(s)
s[0]

python    2.872840
b        -0.983118
c        -2.551905
d         0.818367
e         1.236409
dtype: float64

2.872840230648128

In [23]:
s[:3]#0:3

python    2.872840
b        -0.983118
c        -2.551905
dtype: float64

In [25]:
print( s.median())
s[s > s.median()]  #condition inside is  true

0.8183666835030668

python    2.872840
e         1.236409
dtype: float64

In [27]:
s > s.median()

python     True
b         False
c         False
d         False
e          True
dtype: bool

In [28]:
s[[2, 3, 1]]

e    1.236409
d    0.818367
b   -0.983118
dtype: float64

In [29]:
s + s

python    5.745680
b        -1.966235
c        -5.103811
d         1.636733
e         2.472819
dtype: float64

In [30]:
s * 2

python    5.745680
b        -1.966235
c        -5.103811
d         1.636733
e         2.472819
dtype: float64

In [32]:
print(s)
np.exp(s)

python    2.872840
b        -0.983118
c        -2.551905
d         0.818367
e         1.236409
dtype: float64

python    17.687183
b          0.374143
c          0.077933
d          2.266794
e          3.443228
dtype: float64

In [27]:
s[1:] + s[:-1]

a         NaN
b    1.140608
c   -1.263471
d   -1.230120
e         NaN
dtype: float64

In [33]:
s['e'] = 12 #update
s

python     2.872840
b         -0.983118
c         -2.551905
d          0.818367
e         12.000000
dtype: float64

In [33]:
'e' in s

True

In [34]:
'f' in s

False

In [4]:
s = pd.Series(np.random.random(5), name='random series')
s

0    0.172345
1    0.778102
2    0.340674
3    0.380302
4    0.085255
Name: random series, dtype: float64

In [36]:
s.name

'random series'

In [13]:
# Checking Emptiness and Presence of NaNs
import numpy as np   
import pandas as pd   
a=pd.Series(data=[1,2,3,np.NaN])   
b=pd.Series(data=[4.9,8.2,5.6],index=['x','y','z'])   
c=pd.Series()  
print(a)
print(b)
print(c)
print(a.empty,b.empty,c.empty)   
print(a.hasnans,b.hasnans,c.hasnans)   
print(len(a),len(b))   
print(a.count( ),b.count( ))

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64
x    4.9
y    8.2
z    5.6
dtype: float64
Series([], dtype: float64)
False False True
True False False
4 3
3 3

C:\Users\91920\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

### DataFrame - It is a widely used data structure of pandas and works with a two-dimensional array with labeled axes (rows and columns).
### DataFrame is defined as a standard way to store data and has two different indexes, i.e., row index and column index.
#### We can perform basic operations on rows/columns like selecting, deleting, adding, and renaming.

In [4]:
import pandas as pd  
# a list of strings  
x = ['Python', 'Pandas']  
  
# Calling DataFrame constructor on list  
df = pd.DataFrame(x)  
print(df)

        0
0  Python
1  Pandas

In [12]:
d = {'one' : [1., 2., 3., 4.], 'two' : [4., 3., 2., 1.]}
pd.DataFrame(d)

   one  two
0  1.0  4.0
1  2.0  3.0
2  3.0  2.0
3  4.0  1.0

In [5]:
#print(d)
pd.DataFrame([[1,2],[5,6]], index=['a', 'b'],columns=['x','y'])

   x  y
a  1  2
b  5  6

In [38]:
d = {'one': pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
      'two': pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}    #ndarray,dict and series
df = pd.DataFrame(d)
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [40]:
# Import pandas package
import pandas as pd
 
# Define a dictionary containing employee data
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Age':[27, 24, 22, 32],
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}
print(data)
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data)
print(df)
# select two columns
print(df[['Name', 'Qualification']])

{'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'], 'Age': [27, 24, 22, 32], 'Address': ['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'], 'Qualification': ['Msc', 'MA', 'MCA', 'Phd']}
     Name  Age    Address Qualification
0     Jai   27      Delhi           Msc
1  Princi   24     Kanpur            MA
2  Gaurav   22  Allahabad           MCA
3    Anuj   32    Kannauj           Phd
     Name Qualification
0     Jai           Msc
1  Princi            MA
2  Gaurav           MCA
3    Anuj           Phd

In [41]:
print ("Delete the first column:")  
del df['Address']  
print (df)

Delete the first column:
     Name  Age Qualification
0     Jai   27           Msc
1  Princi   24            MA
2  Gaurav   22           MCA
3    Anuj   32           Phd

In [47]:
df["adress"] = ["delhi" , "pune" , "goa",1 ]
print(df)

     Name  Age Qualification adress
0     Jai   27           Msc  delhi
1  Princi  700            MA   pune
2  Gaurav   22           MCA    goa
3    Anuj   32           Phd      1

In [42]:
#dataframe[col][row]=value  ----------- MODIFY VALUE
df['Age'][1]=700
print(df)

     Name  Age Qualification
0     Jai   27           Msc
1  Princi  700            MA
2  Gaurav   22           MCA
3    Anuj   32           Phd

C:\Users\91920\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [57]:
df_stockprice=pd.DataFrame([[100,200,300,400,500],[10,20,30,40,50]],index=['SBI','HDFC'],columns=['12-may','13-may','14-may','15-may','16-may'])
print(df_stockprice)

      12-may  13-may  14-may  15-may  16-may
SBI      100     200     300     400     500
HDFC      10      20      30      40      50

In [2]:
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20210518'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"],dtype='category'),
                    'F': 'foo', })
df2

     A          B    C  D      E    F
0  1.0 2021-05-18  1.0  3   test  foo
1  1.0 2021-05-18  1.0  3  train  foo
2  1.0 2021-05-18  1.0  3   test  foo
3  1.0 2021-05-18  1.0  3  train  foo

In [3]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [3]:
dates = pd.date_range('20211206', periods=6 ,freq = "D")
dates

DatetimeIndex(['2021-12-06', '2021-12-07', '2021-12-08', '2021-12-09',
               '2021-12-10', '2021-12-11'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2021-12-06 -0.478379 -0.820828 -1.593462  0.130491
2021-12-07  1.173384 -0.346476 -0.649514 -0.547317
2021-12-08 -0.396688  0.646133  0.028811 -1.578188
2021-12-09 -0.943732 -0.020006 -0.211147 -0.134739
2021-12-10  0.065391  1.031294  2.350166 -0.603419
2021-12-11 -0.936939  1.414082  1.020258 -0.748943

In [23]:
df1 = pd.DataFrame(np.random.randn(6, 4), columns=list('ABCD'))
df1

          A         B         C         D
0 -2.333722  0.964992 -0.256514  1.139047
1  1.658904 -0.322326  0.054671 -1.710104
2 -0.578645  0.242718  0.717806  1.485781
3  0.226544 -1.329640  2.097801 -0.586092
4  0.008865  0.652949  0.942479 -0.730933
5  0.109681  1.559360 -1.349067  2.021030

In [28]:
df1.head(2) #by defalut 5

          A         B         C         D
0 -2.333722  0.964992 -0.256514  1.139047
1  1.658904 -0.322326  0.054671 -1.710104

In [29]:
df1.tail(4)

          A         B         C         D
2 -0.578645  0.242718  0.717806  1.485781
3  0.226544 -1.329640  2.097801 -0.586092
4  0.008865  0.652949  0.942479 -0.730933
5  0.109681  1.559360 -1.349067  2.021030

In [30]:
df1.to_numpy() #does not include the index or column labels in the output.

array([[-2.33372165,  0.96499222, -0.25651419,  1.13904707],
       [ 1.65890382, -0.3223259 ,  0.05467065, -1.71010352],
       [-0.57864524,  0.24271814,  0.71780571,  1.48578104],
       [ 0.22654442, -1.32963999,  2.09780078, -0.58609159],
       [ 0.00886541,  0.65294949,  0.9424788 , -0.73093349],
       [ 0.10968137,  1.55935961, -1.34906717,  2.02103032]])

In [15]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.920920  0.084915 -0.064632  0.134180
std    0.407138  1.491234  1.268190  0.703688
min    0.531892 -2.686462 -1.823247 -1.142609
25%    0.656675 -0.137308 -0.831650  0.078320
50%    0.745978  0.493440 -0.083229  0.162281
75%    1.198194  1.106588  0.811905  0.595247
max    1.525834  1.245662  1.572756  0.833226

In [31]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      float64
 1   B       6 non-null      float64
 2   C       6 non-null      float64
 3   D       6 non-null      float64
dtypes: float64(4)
memory usage: 320.0 bytes

In [32]:
df1.T #Transposing your data:

          0         1         2         3         4         5
A -2.333722  1.658904 -0.578645  0.226544  0.008865  0.109681
B  0.964992 -0.322326  0.242718 -1.329640  0.652949  1.559360
C -0.256514  0.054671  0.717806  2.097801  0.942479 -1.349067
D  1.139047 -1.710104  1.485781 -0.586092 -0.730933  2.021030

In [34]:
df1.sort_index(axis=0, ascending=True)  #0 index , 1 coloum

          A         B         C         D
0 -2.333722  0.964992 -0.256514  1.139047
1  1.658904 -0.322326  0.054671 -1.710104
2 -0.578645  0.242718  0.717806  1.485781
3  0.226544 -1.329640  2.097801 -0.586092
4  0.008865  0.652949  0.942479 -0.730933
5  0.109681  1.559360 -1.349067  2.021030

In [66]:
df['A'] #Selecting a single column

2021-04-19    0.068784
2021-04-20    0.352483
2021-04-21   -0.253618
2021-04-22    0.002245
2021-04-23   -2.069750
2021-04-24   -0.302213
Freq: D, Name: A, dtype: float64

In [16]:
df['2021-04-24']

KeyError: '2021-04-24'

In [17]:
df1[1]

KeyError: 1

### Operation       Syntax      Result

#### Select column   df[col]     Series

#### Select row by label    df.loc[label]    Series

#### Select row by integer location    df.iloc[loc]    Series

#### Slice rows    df[5:10]     DataFrame

                   A         B         C         D
2021-12-06  2.473275  1.055694 -0.171882 -0.008818
2021-12-07  0.552059 -0.768153  0.843900 -0.137757
2021-12-08 -0.259331 -0.677748 -1.064981 -1.244535
2021-12-09 -0.307154 -0.002134 -0.283371  0.535061
2021-12-10  0.652361  0.078731  1.006721 -0.680180
2021-12-11  0.042524  0.128895 -0.245139 -0.732860

In [63]:
df['A']

2021-12-06    2.473275
2021-12-07    0.552059
2021-12-08   -0.259331
2021-12-09   -0.307154
2021-12-10    0.652361
2021-12-11    0.042524
Freq: D, Name: A, dtype: float64

In [57]:
a = dates[1]
print(a)
df.loc[a] #Selection by label

2021-12-07 00:00:00

A    0.552059
B   -0.768153
C    0.843900
D   -0.137757
Name: 2021-12-07 00:00:00, dtype: float64

In [58]:
df.loc['2021-12-07', ['A', 'B']]

A    0.552059
B   -0.768153
Name: 2021-12-07 00:00:00, dtype: float64

In [71]:
df.iloc[3]

A    0.002245
B   -1.368907
C    0.278998
D    0.434464
Name: 2021-04-22 00:00:00, dtype: float64

In [64]:
df.iloc[3:5, 0:2]

                   A         B
2021-12-09 -0.307154 -0.002134
2021-12-10  0.652361  0.078731

In [18]:
df['E'] = [1,2,np.nan,np.nan,5,6]
df

                   A         B         C         D    E
2021-12-06 -0.478379 -0.820828 -1.593462  0.130491  1.0
2021-12-07  1.173384 -0.346476 -0.649514 -0.547317  2.0
2021-12-08 -0.396688  0.646133  0.028811 -1.578188  NaN
2021-12-09 -0.943732 -0.020006 -0.211147 -0.134739  NaN
2021-12-10  0.065391  1.031294  2.350166 -0.603419  5.0
2021-12-11 -0.936939  1.414082  1.020258 -0.748943  6.0

In [20]:
df.dropna(axis = 1)

                   A         B         C         D
2021-12-06 -0.478379 -0.820828 -1.593462  0.130491
2021-12-07  1.173384 -0.346476 -0.649514 -0.547317
2021-12-08 -0.396688  0.646133  0.028811 -1.578188
2021-12-09 -0.943732 -0.020006 -0.211147 -0.134739
2021-12-10  0.065391  1.031294  2.350166 -0.603419
2021-12-11 -0.936939  1.414082  1.020258 -0.748943

In [22]:
a= df.dropna(how='any' ,axis = 0) #axis=0,1
a

                   A         B         C         D    E
2021-12-06 -0.478379 -0.820828 -1.593462  0.130491  1.0
2021-12-07  1.173384 -0.346476 -0.649514 -0.547317  2.0
2021-12-10  0.065391  1.031294  2.350166 -0.603419  5.0
2021-12-11 -0.936939  1.414082  1.020258 -0.748943  6.0

In [57]:
df/

                   A         B         C         D        E
2021-04-19  0.379904  0.703379  1.773696 -0.941180      1.0
2021-04-20  0.002938  0.117171 -2.466678 -1.035229      2.0
2021-04-21  0.443926 -0.484550 -0.564965 -0.502286  10000.0
2021-04-22 -0.813801  0.983425  0.680818 -1.586598  10000.0
2021-04-23  1.192702  0.430739  0.686013 -0.051905      5.0
2021-04-24 -0.573396 -1.616690 -0.745421 -1.437847      6.0

In [133]:
dir(df)

['A',
 'B',
 'C',
 'D',
 'E',
 'T',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_summary_and_see_also_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_box_col_values',
 '_box_item_values',
 '_builtin_table',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_combine_frame',
 '_combine_match_index',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_create_indexer',
 '_cython_table',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_type',
 '_ensure_valid_index',
 '_find_valid_index',
 '_from_arrays',
 '_from_axes',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_cython_func',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_gotitem',
 '_iget_item_cache',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_internal_get_values',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_copy',
 '_is_datelike_mixed_type',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_join_compat',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_series',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_setup_axes',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'columns',
 'combine',
 'combine_first',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'get',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'values',
 'var',
 'where',
 'xs']